<div class="sidebar">
  <div class="sidebar-header">
    <h4>Admin Panel</h4>
  </div>

  <nav class="nav flex-column">
    <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a class="nav-link" routerLink="/admin/menu-management" routerLinkActive="active">
      Menu Management
    </a>
   <a class="nav-link" routerLink="/admin/menu" routerLinkActive="active">
      Menu
    </a>
    <a class="nav-link" routerLink="/admin/staff-management" routerLinkActive="active">
      Staff Management
    </a>
    <a class="nav-link" routerLink="/admin/reports" routerLinkActive="active">
      Reports
    </a>    <a class="nav-link" routerLink="/admin/categories" routerLinkActive="active">
      Categories
    </a>
    <a class="nav-link" routerLink="/admin/items" routerLinkActive="active">
      Items
    </a>
    
    <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>

    
  </nav>
</div>
